<div id="containerGeral">
    <div id="container">
        <div id="ceu">
            <img id="ceu" src="./../../assets/Ceu.jpg" alt="Ceu">
        </div>
        <div class="arvores">
            <img id="Arvore1" src="./../../assets/Arvores.png" alt="Arvore">
        </div>
        <div class="arvores">
            <img id="Arvore2" src="./../../assets/TroncoCortado.png" alt="Arvore">
            <img id="Arvore3" src="./../../assets/ArvoreCaida.png" alt="Arvore">
        </div>
        <div id="caverna">
            <img id="imgCaverna" src="./../../assets/caverna.png">
        </div>
        <div id="chao">
            <img class="terra" src="./../../assets/Terra.png" alt="Terra">
            <img class="terra" src="./../../assets/Terra.png" alt="Terra">
            <img class="terra" src="./../../assets/Terra.png" alt="Terra">
            <img class="terra" src="./../../assets/Terra.png" alt="Terra">
            <img class="terra" src="./../../assets/Terra.png" alt="Terra">
        </div>
    </div>
</div>