<div id="containerGeral">
  <div id="container">
    <div id="ceu">
      <img id="ceu" draggable="false" src="./../../assets/Ceu.jpg" alt="Ceu" />
    </div>
    <div class="arvores">
      <img id="Arvore1" draggable="false" src="./../../assets/Arvores.png" alt="Arvore" />
    </div>
    <div class="arvores">
      <img id="Arvore2" draggable="false" src="./../../assets/TroncoCortado.png" alt="Arvore" />
      <img id="Arvore3" draggable="false" src="./../../assets/ArvoreCaida.png" alt="Arvore" />
    </div>
    <div id="caverna">
        <img id="imgCaverna" draggable="false" src="./../../assets/caverna.png" />
    </div>
    <div id="chao">
      <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra" />
      <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra" />
      <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra" />
      <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra" />
      <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra" />
    </div>
  </div>
</div>
