<div id="containerGeral">
    <div id="container">
        <div id="fundo">
            <img id="fundo" src="./../../assets/CavernaDragao.gif" alt="fundo">
        </div>
        <div id="chao">
            <img class="pedra" src="./../../assets/ChaoPedrao.jpg" alt="pedra">
            <img class="pedra" src="./../../assets/ChaoPedrao.jpg" alt="pedra">
            <img class="pedra" src="./../../assets/ChaoPedrao.jpg" alt="pedra">
            <img class="pedra" src="./../../assets/ChaoPedrao.jpg" alt="pedra">
            <img class="pedra" src="./../../assets/ChaoPedrao.jpg" alt="pedra">
        </div>
    </div>
</div>