<app-cenarioMenu></app-cenarioMenu>
<div class="tela">
  <!-- <img src="../../assets/Ceu.jpg" class="img"> -->
    <div class="container-principal">
        <div class="container-menu">
            <div class="menu">
              <img draggable="false" src="../../assets/Titulo.png" class="TituloIMG">
              <h1 class="nickname">Insira seu nickname: </h1>
              <input type="text" [(ngModel)]="nick" class="input-name" placeholder="Nickname...">
                <button class="btn mt-5" (click)="entrar()">Iniciar Game</button>
                <button class="btn-musica mt-3 btn-sm p-3" (click)="playAudio()">Musica {{estado}}</button>
            </div>
        </div>
        <div class="ranking position-absolute tabela" style="right:10%">
          <h4>Ranking</h4>
          <table class="table table-dark table-hover table-striped">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Fase 1</th>
                <th scope="col">Fase 2</th>
                <th scope="col">Total</th>

              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr *ngFor="let i of ranking">
                <th scope="row">{{i.jogador}}</th>
                <td>{{i.nivel1 | number}}</td>
                <td>{{i.nivel2 | number}}</td>
                <td>{{i.total | number}}</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
</div>
