<div class="tela">
  <img src="../../assets/telaInicio.png" class="img">
    <div class="container-principal">
        <div class="container-menu">
            <div class="menu">
              <img src="../../assets/Titulo.png" class="TituloIMG">
                <button class="btn">Iniciar Game</button>
                <button *ngIf="click < 200" (click)="aumentarClick()" class="btn">TESTE {{vida}}</button>
                <button *ngIf="click >= 200"  class="btn">GANHOU</button>
            </div>
        </div>
    </div>
</div>
