<div class="tela">
  <img src="../../assets/telaInicio.png" class="img">
    <div class="container-principal">
        <div class="container-menu">
            <div class="menu">
              <img src="../../assets/Titulo.png" class="TituloIMG">
              <h1></h1>
              <input type="text" class="input-name" placeholder="Nickname...">
                <button class="btn" routerLink="nivel-1">Iniciar Game</button>
                <button class="btn">Ranking</button>
            </div>
        </div>
    </div>
</div>
