<div id="container">
    <div id="ceu">
        <img id="ceu" src="./../../assets/ceu2 (1).jfif" alt="Ceu">
    </div>
    <div id="arvores">
      <img id="Arvore1" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore2" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore3" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore4" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore5" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore6" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore7" src="./../../assets/Arvores.png" alt="Arvore">
    </div>
    <div id="chao">
        <img class="terra" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" src="./../../assets/Terra.png" alt="Terra">
    </div>
</div>

