<app-cenario2></app-cenario2>
<div id="geral">
    <div *ngIf="ganhou == 0" id="containerTexto">
        <div>
            <h1>
                    {{timerTela | number}}
            </h1>
        </div>
    </div>
    <div *ngIf="ganhou != 1" id="pedra">
        <img src="../../assets/pedraNova2.png" alt="pedra">
    </div>
    <div *ngIf="ganhou != 1" id="containerDragao">
        <h2>{{vida}}</h2>
        <img (click)="ClickDragao()" src="../../assets/inimigoSecundario (1).png" id="imgDragao" alt="Dragao" />
    </div>
</div>
<img [style.left.px]="left" src="../../assets/Personagem.png" class="position-absolute personagem" alt="">
