<div id="container">
    <div id="ceu">
        <img id="ceu" draggable="false" src="./../../assets/Ceu.jpg" alt="Ceu">
    </div>
    <div id="arvores">
      <img id="Arvore1" draggable="false" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore2" draggable="false" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore3" draggable="false" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="Arvore4" draggable="false" src="./../../assets/Arvores.png" alt="Arvore">
      <img id="girl" draggable="false" src="../../assets/menina.png" alt="girl">
    </div>
    <div id="chao">
        <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra">
        <img class="terra" draggable="false" src="./../../assets/Terra.png" alt="Terra">
    </div>
</div>

