<app-cenario3></app-cenario3>
<div id="geral">
    <div *ngIf="ganhou == 0" id="containerTexto">
        <div>
            <h1>
                    {{timerTela | number}}
            </h1>
        </div>
    </div>
    <div *ngIf="ganhou != 1" id="containerDragao">
        <h1>{{vida}}</h1>
        <img draggable="false" (click)="ClickDragao()" src="../../assets/Dragao.png" id="imgDragao" alt="Dragao" />
    </div>
</div>
<img [style.left.px]="left" draggable="false" src="../../assets/Personagem.png" id ="principal" class="position-absolute personagem" alt="">
