<app-cenario3></app-cenario3>
<div id="geral">
    <div *ngIf="ganhou == 0" id="containerTexto">
        <div>
            <h1>
                    {{timerTela | number}}
            </h1>
        </div>
    </div>
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego" alt="Morcego" />
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego1" alt="Morcego" />
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego2" alt="Morcego" />
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego3" alt="Morcego" />
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego4" alt="Morcego" />
    <img draggable="false" src="../../assets/Morcego.gif" id="imgMorcego5" alt="Morcego" />
    <div *ngIf="ganhou != 1" id="containerDragao">
        <h1>{{vida}}</h1>
        <img draggable="false" (click)="ClickDragao()" src="../../assets/Dragao.png" id="imgDragao" alt="Dragao" />
    </div>
</div>
<img [style.transform]="lado" id="dog" [style.left.px]="left -50"  draggable="false" *ngIf="cachorro && paraCachorro" src="../../assets/cachorroParado.png" alt="dog">
<img [style.transform]="lado" id="dog" [style.left.px]="left -50"  draggable="false" *ngIf="cachorro && !paraCachorro" src="../../assets/cachorro.gif" alt="dog">
<img *ngIf="coroa" src="../../assets/Coroa.png" id="coroa" alt="">
<img [style.transform]="lado" [style.left.px]="left" draggable="false" src="../../assets/PersonagemAnimado.gif" id ="principal" class="position-absolute personagem" alt="">
