.personagem{
    width: 220px;
    bottom: 50px;
}
.mensagem{
    position: absolute;
    background-color: white;
    width: 255px;
    height: 215px;
    left: 420px;
    bottom: 226px;
    border: 1px solid black;
    border-radius: 22px 22px 0px 22px;
    padding: 25px;
}
.mensagem-cachorro{
    position: absolute;
    background-color: white;
    width: 160px;
    height: 95px;
    left: 1024px;
    bottom: 176px;
    border: 1px solid black;
    border-radius: 22px 22px 22px 0px;
    padding: 25px;

}

