.personagem{
    width: 220px;
    bottom: 50px;
}
.mensagem{
    position: absolute;
    background-color: white;
    width: 255px;
    height: 215px;
    left: 420px;
    bottom: 226px;
    border: 1px solid black;
    border-radius: 22px 22px 0px 22px;
    padding: 20px;
}
.mensagem-cachorro{
    position: absolute;
    background-color: white;
    width: 165px;
    height: 115px;
    left: 1024px;
    bottom: 176px;
    border: 1px solid black;
    border-radius: 22px 22px 22px 0px;
    padding: 20px;

}

.opcao {
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:  0 5px 0 5px;
}

.botao2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

