.personagem{
    width: 170px;
    bottom: 80px;
    z-index: 2;
    /* transition: 0.2s; */
}
.mensagem{
    position: absolute;
    background-color: white;
    width: 255px;
    height: 215px;
    left: 420px;
    bottom: 226px;
    border: 1px solid black;
    border-radius: 22px 22px 0px 22px;
    padding: 20px;
    z-index: 3;
}
#dog{
    width: 60px;
    position: absolute;
    bottom: 90px;
    left: 995px;
    z-index: 1;
  }

#dog-esq{
    width: 60px;
    position: absolute;
    bottom: 90px;
    left: 995px;
    transform: scaleX(-1);
}

#lapide {
    width: 120px;
    position: absolute;
    bottom: 68px;
    left: 960px;
}

.mensagem-cachorro{
    position: absolute;
    background-color: white;
    width: 165px;
    height: 115px;
    left: 1024px;
    bottom: 176px;
    border: 1px solid black;
    border-radius: 22px 22px 22px 0px;
    padding: 20px;

}

.opcao {
    margin: 0px 5px 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding:  0 5px 0 5px;
}

.botao2 {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}