<app-cenario1 (keydown)="onKeyDown($event)" ></app-cenario1>
<img [style.transform]="lado" [style.left.px]="left" draggable="false" src="../../assets/PersonagemAnimado.gif" class="position-absolute personagem" alt="">

<img [style.transform]="lado" id="dog" [style.left.px]="left -50"  draggable="false" *ngIf="alimentou == 1 && paraCachorro" src="../../assets/cachorroParado.png" alt="dog">
<img [style.transform]="lado" id="dog" [style.left.px]="left -50"  draggable="false" *ngIf="alimentou == 1 && !paraCachorro" src="../../assets/cachorro.gif" alt="dog">
<img id="dog-esq" *ngIf="alimentou == 0" draggable="false" src="../../assets/cachorroParado.png" alt="dog">
<img id="lapide" *ngIf="alimentou == 2" draggable="false" src="../../assets/lapide.png" alt="lapideDog">

<div *ngIf="left > 450 && left < 650 && !clicou_menina" class="mensagem">Olá jovem aventureiro! Um dragão acabou de passar por aqui e aquele monstro roubou minha coroa e todo o meu dinheiro.... Poderia me ajudar recuperando as minhas coisas?
        <button (click)="sim()" class="opcao">sim</button>
        <button (click)="nao()" class="opcao">nao</button>
</div>
<div *ngIf="left > 750 && left < 950 && !clicou_cachorro" class="mensagem-cachorro">A-a-au a-au au *barriga ronca*
    <div class="botao2">
        <button (click)="alimentar()" class="opcao">alimentar</button>
        <button (click)="ignorar()" class="opcao">ignorar</button>
    </div>
</div>